<%- include('partials/_header.ejs') %>

    <nav class="navbar navbar-dark bg-dark mb-4">
    <a href = "/" class = "navbar-brand">NodeMongoDB</a>
    </nav>

    <div class="container">
        <h1>Hello World</h1>
    </div>

<%- include('partials/_footer.ejs') %>